# Virtual environment
venv/
.venv/

# Environment variables / API keys
.env
.env.*
medical_rag/data/
# Python cache
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Jupyter
.ipynb_checkpoints/

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

test.ipynb
command.txt